<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.batna.nedasdk">

    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".ClientReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="ir.batna.neda.message" />
            </intent-filter>
        </receiver>
    </application>

</manifest>